body {
    margin: 0;
}

h1 {
    text-align: center;
    color: blue;
}

.scrollBar::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
    height: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background: #ff9800; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}